<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<!-- <ng-include src="'partials/header.html'"></ng-include> -->
<div id="home">
	<div class="container-fluid" id="homeHeader">
		<span class="title">Homelette</span>
		<span class="subtitle">From the best chefs in the world directly into your kitchen</span>
	</div>

	<div class="container" id="welcome-box">
		<p id="welcome-title">A home dinner service</p>
		<p id="welcome-text">Lorem ipsum dolor sit amet, ex qui modo instructior, maiorum scaevola deseruisse ei vim. Mucius virtute per in, iudico definiebas interesset his an. Qui mucius scriptorem no, no eam lorem malorum saperet. Duo epicurei philosophia ne. Luptatum intellegam mediocritatem an mel, eos eligendi gubergren hendrerit an, ut eos hinc assum constituto. Ad vix nonumy causae inermis.</p>
		<p id="create-new-dinner-button-descr">Start quickly</p>
		<a ng-href="#/search" class="btn">Create new dinner</a>
	</div>
</div>